<div class="jumbotron">
    <h1>Online MarketPlace</h1>
    <p class="lead">Online MarketPlace is a Web API enabling users to send, receive, update and delete data for web-based marketplace such as product, category, person and transaction data using HTTP. </p>
    <p><a href="https://localhost:44355/help" class="btn btn-outline-dark btn-sm">Documentation &raquo;</a></p>
</div>

