<div class="jumbotron">
    <h1>Online MarketPlace</h1>
    <p class="lead">Online MarketPlace is a Web API enabling MarketPlace users to send, receive, update and delete data such as product, category, user and transaction data using HTTP. </p>
    <p><a href="https://localhost:44355/help" class="btn btn-primary btn-lg">Documentation &raquo;</a></p>
</div>

